<h1>free purple cow</h1>

<form action="/email_input"> <!-- action = url -->
  <input type="text" name="email" placeholder="email"> <!-- name attribute = params key -->
  <button>take my money</button>
</form>
