<div class="container">
  <% @projects.each do |project| %>
  <div class="project">
    <a href="/projects/<%= project.id %>">
      <img src="<%= project.preview.url %>" alt="">
    </a>
  </div>
  <% end %>
</div>