

.peeper {
  width: 100%;
}

.peeper__textarea {
  width: 100%;
  height: 5rem;
  display: block;
  margin-bottom: 0.5rem;
}

.peeper__footer {
  display: flex;
  justify-content: space-between;
}

.peeper__span--warning {
  color: red;
}